@page "/"
@using Car_Rental.Business.Classes;
@using Car_Rental.Common.Classes;
@using Car_Rental.Common.Interfaces;
@using Car_Rental.Common.Enums;
@inject BookingProcessor bp 


<link rel="stylesheet" href="css/Index.css" />

<PageTitle>Car Rental Assignment</PageTitle>


    <h1 class="fw-bold">Car Rental Assignment</h1> 

    @if (!string.IsNullOrWhiteSpace(bp.Message))
    {
        <div class="alert alert-danger col-md-3">
            @bp.Message
        </div>
    }

<div class="col-md-6" >
    <h4 class="fw-bold">Customers</h4>
    <table class="table table-hover border" style="background-color: #f5f5f5;">
        <thead>
            <tr style="background-color: #133337; color: white;">
                <th>SSN</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="form-control form-control-sm" type="number" placeholder="SSN" @bind="bp.SSN" /></td>
                <td><input class="form-control form-control-sm" type="text" placeholder="Last Name" @bind="bp.LName" /></td>
                <td><input class="form-control form-control-sm" type="text" placeholder="First Name" @bind="bp.FName" /></td>
                <td><button class="bn632-hover bn22" type="button" @onclick="(() => bp.AddCustomer())">Add</button></td>
            </tr>

            @foreach(var c in bp.GetCustomers())
            {
                <tr>
                    <th>@c.SocialSecurityNumber</th>
                    <td>@c.LastName</td>
                    <td>@c.FirstName</td>
                    <td></td>
                </tr>  
            }
        </tbody>
    </table>
</div>
<br />
<div class="col-md-10">
    <h4 class="fw-bold">Vehicles</h4>
    <table class="table table-hover border" style="background-color: #f5f5f5;">
        <thead>
            <tr style="background-color: #133337; color: white;">
                <th>RegNo</th>
                <th>Make</th>
                <th>Odometer</th>
                <th>Cost (km)</th>
                <th >Vehicle Type</th>
                <th>Day ($)</th>
                <th>Action</th>
                <th></th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="form-control form-control-sm" type="text" placeholder="RegNo" @bind="bp.RegistrationNumber" disabled="@bp.Delay" /></td>
                <td><input class="form-control form-control-sm" type="text" placeholder="Make" @bind="bp.Make" disabled="@bp.Delay" /></td>
                <td><input class="form-control form-control-sm" type="number" placeholder="0" @bind="bp.Odometer" disabled="@bp.Delay" /></td>
                <td><input class="form-control form-control-sm" type="number" placeholder="0" @bind="bp.CostKm" disabled="@bp.Delay" /></td>
                <td>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" @bind="bp.VehicleType" disabled="@bp.Delay">
                        <option value="Convertible">@bp.VehicleTypeNames.GetValue(2)</option>
                        <option value="Bus">@bp.VehicleTypeNames.GetValue(1)</option>
                        <option value="Minivan">@bp.VehicleTypeNames.GetValue(0)</option>
                        <option value="Motorcycle">@bp.VehicleTypeNames.GetValue(3)</option>
                    </select>
                </td>
                <td></td>
                <td><button class="bn632-hover bn22" type="button" @onclick="(() => bp.AddVehicle())" disabled="@bp.Delay">Add</button></td>
                <td></td>
                @if (bp.Delay)
                {
                    <td>
                        <button class="btn btn-sm btn-warning" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="status">Processing...</span>
                        </button>
                    </td>
                }
                else {<td></td>}
            </tr>
            @foreach(var v in bp.GetVehicles())
            {
                <tr>
                    <th>@v.RegNo</th>
                    <td>@v.CarMake</td>
                    <td>@v.OdoMeter</td>
                    <td>@v.CostKm</td>
                    <td>@v.VType</td>
                    <td>@v.CostDay</td>
                    @if (v.VStatus == VehicleStatuses.Available)
                    {
                        <td>
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" @bind="bp.SelectedCustomerId" disabled="@bp.Delay">
                                <option disabled selected>Select Customer</option>
                                @foreach (var customer in bp.GetCustomers())
                                {
                                    <option value="@customer.Id">@customer.LastName @customer.FirstName</option>
                                }
                            </select>
                        </td>
                        
                    }
                    else
                    {
                        <td><input type="number" class="form-control form-control-sm" placeholder="Distance" @bind="bp.Distance" disabled="@bp.Delay"/></td>
                    }

                    @if (v.VStatus == VehicleStatuses.Available)
                    {
                        <td>
                            <button class="bn3637 bn37" type="button" @onclick="(() => bp.RentVehicle(v.Id, bp.SelectedCustomerId))" disabled="@bp.Delay">Rent</button>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button class="bn3637 bn38" type="button" @onclick="(() => bp.ReturnVehicle(v.Id, bp.Distance))" disabled="@bp.Delay">Return</button>
                        </td>
                    }
                    <td>
                        <span class="badge bg-@(v.VStatus == VehicleStatuses.Available ? "dark" : "danger") rounded-pill">@v.VStatus</span>
                    </td>
                </tr> 
            }
        </tbody>
    </table>
</div>
<br />
<div class="col-md-8">
    <h4 class="fw-bold">Bookings</h4>
    <table class="table table-hover border" style="background-color: #f5f5f5;">
        <thead>
            <tr style="background-color: #133337; color: white;">
                <th>RegNo</th>
                <th>Customer</th>
                <th>Rented (km)</th>
                <th>Returned (km)</th>
                <th>Days Rented</th>
                <th>Returned</th>
                <th>Cost ($)</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var b in bp.GetBookings())
            {
                <tr>
                    <th>@b.RegNo</th>
                    <td>@b.Customer</td>
                    <td>@b.KmRent</td>
                    <td>@b.KmReturned</td>
                    <td>@(b.StartRent?.ToShortDateString())</td>
                    <td>@(b.EndRent?.ToShortDateString())</td>
                    
                    @foreach(var v in bp.GetVehicles())
                    {
                        @if (v.RegNo == b.RegNo)
                        {
                            <td>@b.GetCost(v)</td>
                        }
                    }

                    @if (b.Status == VehicleStatuses.Available) 
                    {
                        <td><span class="badge bg-success rounded-pill">Open</span></td>
                    }
                    else
                    {
                        <td><span class="badge bg-danger rounded-pill">Closed</span></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<h8 style="color: grey;">Hao Nguyen - Inlämning VG</h8>
